@import "./reset.css";

body {
  background-color: black;
}

.game {
  display: flex; /*게임 필드를 height: 100%로 설정할 때 팝업 영역으로 넘어가지 않도록 */
  flex-direction: column;
  width: 800px;
  height: 500px;
  margin: auto;
  background: url(../img/background.png) center/cover;
}

.game-header {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
}

.game-button, .pop-up-refresh {
  width: 60px;
  height: 60px;
  background-color: wheat;
  border: 4px solid #333;
  font-size: 30px;
  border-radius: 10px;
  transition: transform 200ms ease-in;
}

.game-button:hover,
.pop-up-refresh:hover {
  transform: scale(1.1);
}

.game-timer {
  width: 100px;
  background-color: #fff;
  text-align: center;
  border: 5px solid #333;
  font-size: 32px;
  border-radius: 20px;
  margin: 8px 0;
  user-select: none;
}

.game-score {
  width: 60px;
  height: 60px;
  font-size: 46px;
  color: #fff;
  text-align: center;
  background-color: darksalmon;
  border: 5px solid #333;
  border-radius: 50%;
  user-select: none;
}

.game-field {
  width: 100%;
  height: 100%;
  margin-top: 40px;
  position: relative;
}

.carrot:hover,
.bug:hover {
  transform: scale(1.1);
}

.pop-up {
  width: 400px;
  height: 160px;
  margin: auto;
  padding: 20px;
  background-color: rgba(0,0,0,0.7);
  color: #fff;
  text-align: center;
  transform: translateY(-250px);
  border-radius: 20px;
}

.pop-up-hide {
  display: none;
}

.pop-up-refresh {
  margin: 10px 0;
}

.pop-up-message {
  display: block;
  font-size: 38px;
}